{% extends "base.html" %}

{% block content %}
<h1>Welcome to College Thrift</h1>
<br>
<h2>Mission Statement</h2>
<p>This site is designed by students for students. We wanted to create a place where
    students could safely buy and sell their unwanted items. All users must register
    with a valid ithaca.edu email and no personal information other than name will be
    distributed.</p>

<br>
<h2>Safety</h2>
<p>Even though all users must have a valid ithaca.edu email, there is still a risk factor.
    Follow these tips to help you stay safe:</p>
<li>Do not interact with people with fake names</li>
<li>Use caution with users that do not have an image of themselves</li>
<li>Make sure someone knows where you are going</li>
<li>Do not meet at night</li>
<li>Meet in populated areas on campus</li>
<li>Report any suspicious activity to campus security</li>


<style>
    p, h1, h2, li, ol{
        padding-left: 10px;
    }
</style>
{% endblock %}