{% extends "base.html" %}

{% block app_content %}
    <h1>Add New Item</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(rows=4) }}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(step='0.01') }}
        </p>
        <p>
            {{ form.category_id.label }}<br>
            {{ form.category_id() }}
        </p>
        <p>
            {{ form.image.label }}<br>
            {{ form.image() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
