{% extends "base.html" %}

{% block app_content %}
<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust the minmax values as per your requirement */
        grid-gap: 15px; /* Space between grid items */
        padding: 15px;
    }
    .grid-item {
        border: 1px solid #ddd; /* Optional, for border around each item */
        border-radius: 8px; /* Optional, for rounded corners */
        overflow: hidden; /* Keeps the content inside the border */
    }
    .grid-item img {
        width: 100%; /* Makes image take full width of the grid item */
        height: auto; /* Maintains aspect ratio */
    }
    .content {
        padding: 10px;
    }
</style>
<div class="container">
    <h1>All Items</h1>
    <div class="grid">
        {% for item in items %}
            <div class="grid-item">
                <a href="{{ url_for('post_detail', post_id=item.id) }}">
                    <img src="{{ url_for('static', filename='images/' + item.image) }}" alt="{{ item.title }}">
                    <div class="content">
                        <h2>{{ item.title }}</h2>
                        <p>Price: {{ item.price }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
