{% extends 'bootstrap/base.html' %}

{% block title %}
    College Thrift
{% endblock %}

{% block navbar %}
    <a class="nav-link" href="#">Home</a>
    <a class="nav-link" href="#">Account</a>
    <a class="nav-link" href="#">About</a>
{% endblock %}

{% block content %}
    <div class="container">
        <p class="lead">Find amazing deals on your College Campus</p>
        <a href="#" class="btn btn-primary btn-lg">Browse Listings</a>

        {% block app_content %}

        {% endblock %}
    </div>
{% endblock %}

{% block footer %}
<span>&copy; 2023 College Thrift</span>
{% endblock %}