{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}

 <script type="text/javascript">
    function validate_form(thisform) {
        var s = thisform.email.value;
        console.log(s)

        at_pos = s.search("ithaca.edu");
        if (at_pos !== true) {
            alert("Bad Email")
            return false;
        }
        return true;
    }

 </script>


    <h1>Register</h1>
    <form action="" onsubmit="return validate_form(this);" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.firstName.label }}<br>
            {{ form.firstName(size=32) }}<br>
        </p>
        <p>
            {{ form.lastName.label }}<br>
            {{ form.lastName(size=32) }}<br>
        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}